<header class="header">
  <section class="container">
    <a href="/" class="logo-title">RAWG</a>
    <div class="input_container">
      <input type="text"
      placeholder="Search"
      class="search_input"
      [(ngModel)]="query"
      (ngModelChange)="queryChange$.next($event)"
      >
        <img class="search_icon-w" src="../../../../assets/icons/bx-search copy.svg" alt="Search icon">
        <img class="search_icon-b" src="../../../../assets/icons/bx-search.svg" alt="Search icon">
    </div>
    <a href="/" class="user_img--container">
      <h2 class="user_name">AA</h2>
    </a>
    <button
    [cdkMenuTriggerFor]="menu_myLibrary"
    class="user_library"
    >My library</button>
    <a href="/" class="icon-container">
      <img class="icon" src="../../../../assets/icons/bxs-bell.svg" alt="Bell icon">
    </a>
    <button
    [cdkMenuTriggerFor]="menu_plus"
    class="icon-container">
      <img class="icon" src="../../../../assets/icons/bx-plus-medical.svg" alt="Plus icon">
    </button>
    <a class="api_link" href="/">API</a>
    <button
    [cdkMenuTriggerFor]="menu_dots"
     class="icon-container">
      <img class="icon" src="../../../../assets/icons/bx-dots-horizontal-rounded.svg" alt="Dots icon">
    </button>
    <button
    class="nav-toggle-btn"
    (click)="toggleNavBar()"
    [class.active]="activeMenu"
    id="box">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
    </button>
    <nav class="navbar" [class.active]="activeMenu">
      <section class="navbar_container">
        <ul class="navbar-list">
          <li>
            <a
            (click)="toggleNavBar()"
            class="navbar-link navbar-title">My library</a>
          </li>
          <li>
            <a
            (click)="toggleNavBar()"
            class="navbar-link">Overview</a>
          </li>
          <li>
            <a
            (click)="toggleNavBar()"
            class="navbar-link">My games</a>
          </li>
          <li>
            <a
            (click)="toggleNavBar()"
            class="navbar-link">Wishlist</a>
          </li>
          <li>
            <a class="navbar-link">Reviews</a>
          </li>
          <li>
            <a
            (click)="toggleNavBar()"
            class="navbar-link">Collections</a>
          </li>
        </ul>
        <ul class="navbar-icons-container">
          <li class="navbar-icons-list">
            <a href="/" class="user_img--container user_img--containerb">
              <h2 class="user_name">AA</h2>
            </a>
            <p class="navbar-icons-p">Profile</p>
          </li>
          <li class="navbar-icons-list">
            <a href="/" class="navbar-img-container">
              <img src="./../../../../assets/icons/bx-plus-medical.svg" alt="Plus icon img">
            </a>
            <p class="navbar-icons-p">Add</p>
          </li>
          <li class="navbar-icons-list">
            <a href="/" class="navbar-img-container">
              <img src="./../../../../assets/icons/bxs-bell.svg" alt="Bell icon img">
            </a>
            <p class="navbar-icons-p">Notifications</p>
          </li>
          <li class="navbar-icons-list">
            <a href="/" class="navbar-img-container">
              <img src="./../../../../assets/icons/bxs-cog.svg" alt="Cog icon img">
            </a>
            <p class="navbar-icons-p">Settings</p>
          </li>
          <li class="navbar-icons-list">
            <a href="/" class="navbar-img-container">
              <img src="./../../../../assets/icons/bxs-message-rounded.svg" alt="Message icon img">
            </a>
            <p class="navbar-icons-p">Feedback</p>
          </li>
          <li class="navbar-icons-list">
            <a href="/" class="navbar-img-container">
              <img src="./../../../../assets/icons/bx-log-out.svg" alt="Log out icon img">
            </a>
            <p class="navbar-icons-p">Log out</p>
          </li>
        </ul>
      </section>
      </nav>
  </section>
</header>
<ng-template #menu_myLibrary>
  <div class="floating-menu" cdkMenu>
    <button class="floating-menu-item" cdkMenuItem>Overview</button>
    <button class="floating-menu-item" cdkMenuItem>My games</button>
    <button class="floating-menu-item" cdkMenuItem>Wishlist</button>
    <button class="floating-menu-item" cdkMenuItem>Reviews</button>
    <button class="floating-menu-item" cdkMenuItem>Collections</button>
  </div>
</ng-template>
<ng-template #menu_plus>
  <div class="floating-menu" cdkMenu>
    <button class="floating-menu-item" cdkMenuItem>Add games to your library</button>
    <button class="floating-menu-item" cdkMenuItem>Add a missing game</button>
    <button class="floating-menu-item" cdkMenuItem>Star a new collection</button>
  </div>
</ng-template>
<ng-template #menu_dots>
  <div class="floating-menu" cdkMenu>
    <button class="floating-menu-item" cdkMenuItem>Settings</button>
    <button class="floating-menu-item" cdkMenuItem>How does RAWG feel?</button>
    <button class="floating-menu-item" cdkMenuItem>Leaderboard</button>
    <button class="floating-menu-item" cdkMenuItem>Discord</button>
    <button class="floating-menu-item" cdkMenuItem>&#64;rawgtheworld</button>
    <button class="floating-menu-item" cdkMenuItem>&#64;rawgthepictures</button>
    <button class="floating-menu-item" cdkMenuItem>Get an API KEY</button>
    <button class="floating-menu-item" cdkMenuItem>Sitemap</button>
    <button class="floating-menu-item" cdkMenuItem>Log out</button>
  </div>
</ng-template>
