<article class="card_container">
  <img class="game_img" src="./../../../../assets/img/cod.jpg" alt="">
  <div class="card_text--container">
    <a class="card-title--link" href="">
      <h2 class="card-title">Call of Duty</h2>
    </a>
    <button class="card-btn">
      <img class="btn-icon" src="../../../../assets/icons/bx-plus-medical.svg" alt="Plus icon img">
      <img class="btn-icon-b" src="../../../../assets/icons/bx-plus-medical-black.svg" alt="Plus icon img">
      191
    </button>
  </div>
</article>
