.card_container {
  width: 300px;
  height: auto;
  background-color: var(--medium-gray);
  border-radius: 15px;
  padding-bottom: 12px;
}

.game_img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card_text--container {
  padding: 10px;
}

.card-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-800);
}

.card-btn--container {
  display: flex;
  align-items: center;
  gap: .5em;
}

.card-btn {
  width: auto;
  height: 30px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--gray);
}

.card-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.btn-icon-b {
  display: none;
}

.card-btn-b {
  opacity: 0;
}

.btn-icon, .btn-icon-b {
  width: 15px;
}

.card-btn:hover .btn-icon {
  display: none;
}

.card-btn:hover .btn-icon-b {
  display: block;
}

.card_container:hover .card-btn-b {
  opacity: 1;
  transition: .5s;
}

.description_container {
  visibility: hidden;
  display: none;
}

.card_container:hover .description_container {
  display: block;
  visibility: visible;
  transition: .5s;
}

.description_text--container {
  margin: 0 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

.text_left {
  font-size: var(--fs-6);
  color: var(--light-gray);
}
.btn-bottom a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  background-color: var(--gray);
  border-radius: 10px;
}

.btn-bottom img {
  width: 35px;
}


.btn-bottom:hover {
  color: darkgoldenrod;
}
