<article class="card_container">
  <img class="game_img" [src]="game.background_image" [alt]="game.name">
  <section class="card_text--container">
    <a class="card-title--link" [routerLink]="['/games', game.id]">
      <h2 class="card-title">{{game.name}}</h2>
    </a>
    <section class="card-btn--container">
      <button class="card-btn">
        <img class="btn-icon" src="../../../../assets/icons/bx-plus-medical.svg" alt="Plus icon img">
        <img class="btn-icon-b" src="../../../../assets/icons/bx-plus-medical-black.svg" alt="Plus icon img">
        {{game.suggestions_count}}
      </button>
      <button class="card-btn card-btn-b">
        <img class="btn-icon" src="../../../../assets/icons/bx-gift.svg" alt="Gift icon img">
        <img class="btn-icon-b" src="../../../../assets/icons/bx-gift-black.svg" alt="Gift icon img">
      </button>
      <button class="card-btn card-btn-b">
        <img class="btn-icon" src="../../../../assets/icons/bx-dots-horizontal-rounded.svg" alt="Dots icon img">
        <img class="btn-icon-b" src="./../../../../assets/icons/bx-dots-horizontal-rounded-black.svg" alt="Dots icon img">
      </button>
    </section>
  </section>
  <section class="description_container">
    <span class="description_text--container">
      <p class="text_left">Release date:</p>
      <p class="text_right">{{game.released | date}}</p>
    </span>
    <span class="description_text--container">
      <p class="text_left">Genres</p>
      <div>
        <span class="genres_container" *ngFor="let genre of game.genres">
          <a class="text_right--genre" href="">{{genre.name}}</a>
        </span>
      </div>
    </span>
    <span class="description_text--container">
      <p class="text_left">Chart</p>
      <p class="text_right">#{{game.rating_top}}</p>
    </span>
    <span class="btn-bottom">
      <a href="">
        <p>Show more like this</p>
        <img src="./../../../../assets/icons/bx-chevron-right.svg" alt="Right arrow img">
      </a>
    </span>
    <span class="btn-bottom">
      <a href="">
        <p>Hide this game</p>
      </a>
    </span>
  </section>
</article>
